NODE_ENV=development
PORT=3000
SERVICE_NAME=api-gateway
JWT_ACCESS_SECRET=your-access-secret-min-32-chars-change-me
REDIS_URL=redis://:linkedin_redis_password@localhost:6379

AUTH_SERVICE_URL=http://localhost:3001
USER_SERVICE_URL=http://localhost:3002
CONNECTION_SERVICE_URL=http://localhost:3003
POST_SERVICE_URL=http://localhost:3004
MESSAGING_SERVICE_URL=http://localhost:3005
NOTIFICATION_SERVICE_URL=http://localhost:3006
SEARCH_SERVICE_URL=http://localhost:3007
MEDIA_SERVICE_URL=http://localhost:3008
JOB_SERVICE_URL=http://localhost:3009

RATE_LIMIT_WINDOW_SECONDS=60
RATE_LIMIT_MAX=120
