NODE_ENV=development
PORT=3007
SERVICE_NAME=search-service

ELASTICSEARCH_URL=http://localhost:9200
RABBITMQ_URL=amqp://linkedin:linkedin_rabbitmq_password@localhost:5672

CLIENT_URL=http://localhost:5173
