NODE_ENV=development
PORT=3005
SERVICE_NAME=messaging-service

DATABASE_URL=postgresql://linkedin:linkedin_pg_password@localhost:5432/messaging_db
RABBITMQ_URL=amqp://linkedin:linkedin_rabbitmq_password@localhost:5672
REDIS_URL=redis://:linkedin_redis_password@localhost:6379

CLIENT_URL=http://localhost:5173

# Postgres TLS (production)
# DB_SSL=true
# DB_SSL_NO_VERIFY=false
